body {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    gap: 10px;
}

.caja1 {
    background: rgba(170, 168, 168, 0.383);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.caja2 {
    background: rgba(170, 168, 168, 0.383);
    border-radius: 4px;
    padding-top: 10px;
}

.caja3 {
    background: rgba(170, 168, 168, 0.383);
    border-radius: 4px;
    padding-top: 10px;
}

.formulario {
    background: rgba(170, 168, 168, 0.383);
    border-radius: 4px;
    padding-top: 10px;
}

.iconos {
    font-size: 70px;
    background: rgba(170, 168, 168, 0.383);
    border-radius: 4px;
    padding-top: 10px;
    text-align: center;
}

.imagen {
    height: 40em;
}